:root {
  --colors-primary: 59 130 246; /* #3b82f6 */
  --colors-primary-highlight: 37 99 235; /* #2563eb */
  --colors-accent: 217 70 239; /* #d946ef */
  --colors-accent-highlight: 192 38 211; /* #c026d3 */
  --colors-red: 239 68 68; /* #ef4444 */
  --colors-orange: 249 115 22; /* #f97316 */
  --colors-gray-light: 161 161 170; /* #a1a1aa */
  --colors-gray: 113 113 122; /* #71717a */
  --colors-gray-dark: 82 82 91; /* #52525b */
  --colors-white: 255 255 255; /* #ffffff */
  --colors-black: 0 0 0; /* #000000 */
  --colors-bg: 250, 250, 250; /* #fafafa */
  --colors-text: 39 39 42; /* #27272a */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  background-color: rgb(var(--colors-bg));
  color: rgb(var(--colors-text));
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-bg: 24 24 27; /* #18181b */
    --colors-text: 212 212 216; /* #d4d4d8 */
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: inherit;
}

h2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}

main {
  flex-grow: 1;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: rgb(var(--colors-bg) / 0.75);
  backdrop-filter: blur(8px);
  z-index: 1;
  flex-shrink: 0;
}
header h1 {
  display: inline;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
header a.logo {
  color: inherit;
}

footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(var(--colors-gray));
}

section,
::part(section) {
  display: grid;
  gap: 1.5rem;
}

account-list section:not([loading]):empty::after {
  color: rgb(var(--colors-gray));
  content: "Нет данных";
}

.button,
::part(button) {
  cursor: pointer;
  font-size: 1rem;
}

.button:hover,
::part(button):hover {
  color: rgb(var(--colors-primary));
}

.button-flat,
::part(button-flat) {
  background-color: transparent;
  border: 0;
}

.button-icon,
::part(button-icon) {
  padding: 0.5rem;
}

.button-delete,
::part(button-delete) {
  color: rgb(var(--colors-text));
}
.button-delete:hover,
::part(button-delete):hover {
  color: rgb(var(--colors-red));
}

.button-back {
  font-weight: 500;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
.button-back svg {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
}

.input,
::part(input) {
  font-size: 1rem;
}

.icon,
::part(icon) {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 42rem;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
.grow {
  flex-grow: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
