name: Build and Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm install --global wasm-pack && npm install
      - name: Build
        run: npm wasm && npm build
      - name: Setup SSH keys
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
      - name: Deploy
        run: tar Czcvf $(dirname dist/.) - $(basename dist/.) | ssh ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }} "cat > ${{ secrets.WORK_DIR }}/build/${{ github.sha }}.tgz && tar xzvf ${{ secrets.WORK_DIR }}/build/${{ github.sha }}.tgz -C ${{ secrets.WORK_DIR }}/html"
      - name: Cleanup
        run: rm -rf ~/.ssh
